

{% include 'doctor_header.html' %}    


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <br><br><br><br><br><br><br>
    <center>
    <form action="" method="post">
        <table>
            <tr>
                <th style="font-size: 35px;">Title</th>
                <td><input type="text" name="title" id="" class="form-control"></td>
             </tr>
             <tr>
                <th style="font-size: 35px;">Description</th>
                <td><input type="text" name="description" id="" class="form-control"></td>
             </tr>
            <tr>
                <td colspan="3" align="center"><input type="submit" name="submit" id="" class="btn btn-success" ></td>
            </tr>
        </table>
    </form>

    <br><br><br><br><br><br><br>

</center>
</body>
</html>


{% include 'footer.html' %}
