<html>
<center>
    <table  border="2" class="table table-info" style="margin-top: 200px; width:1000px">
        <tr>
            <th>SL.NO</th>
            <th>sender_id</th>
            <th>title</th>
            <th>description</th>
            <th>reply</th>
            <th>date</th>
            

        </tr>

        {%for i  in data['view']%}
        <tr>
        <td>{{loop.index}}</td>
      
        <td>{{i['sender_id']}}</td>
        <td>{{i['title']}}</td>
        <td>{{i['description']}}</td> 
        <td>{{i['reply']}}</td>
        <td>{{i['date']}}</td>
        
      
    </tr>
    {%endfor%}
    </table>
</body>
</center>
</html>
