
{% include 'adminheader.html' %}    

<br><br><br><br><br><br><br>

  <div class="container mt-5">
    <h1 class="text-center mb-4">View Caretakers</h1>
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>SL.NO</th>
          <th>Caretaker ID</th>
          <th>Login ID</th>
          <th>Full Name</th>
          <th>Place</th>
          <th>Phone</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        {% for caretaker in data['view'] %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ caretaker['caretaker_id'] }}</td>
          <td>{{ caretaker['login_id'] }}</td>
          <td>{{ caretaker['full_name'] }}</td>
          <td>{{ caretaker['place'] }}</td>
          <td>{{ caretaker['phone'] }}</td>
          <td>{{ caretaker['email'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Include Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>

<br><br><br><br><br><br><br>

{% include 'footer.html' %}

